player-connection-mode=Listen
player-connection-guid=2641023234
player-connection-debug=0
player-connection-project-name=Car_Controller
player-connection-ip=192.168.1.7
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
gfx-threading-mode=4
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=47fc13536b41497f992964fb7ed05a2d
