player-connection-mode=Listen
player-connection-guid=379200239
player-connection-debug=0
player-connection-project-name=Car_Controller
player-connection-ip=192.168.1.12
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
gfx-threading-mode=4
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=274e12e2e89a4a6cb51d8ed18768da5c
